<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>

  </configSections>

  <appSettings>
    <add key="Housing" value="Mortgage &amp; Rent;Room Rent"/>
    <add key="Restaurants" value="Alcohol &amp; Bars;Coffee Shops;Fast Food;Food &amp; Dining;Restaurants"/>
    <add key="Groceries" value="Groceries"/>
    <add key="Food Services" value="Food Services"/>
    <add key="Electricity" value="Electricity"/>
    <add key="Gas" value="Gas"/>
    <add key="Water/Trash" value="Sewer"/>
    <add key="Telephone" value="Home Phone;Mobile Phone"/>
    <add key="Internet" value="Internet;Television"/>
    <add key="Car" value="Auto Payment"/>
    <add key="Fuel" value="Gas &amp; Fuel"/>    
    <add key="Shopping" value="Clothing;Shopping;Sporting Goods;Gift;Gifts &amp; Donations;Baby Supplies;Toys;Hobbies;Shipping;Printing;Lawn &amp; Garden;Office Supplies;Advertising"/>
    <add key="Medical" value="Doctor;Pharmacy;Eyecare;Dentist"/>
    <add key="Personal Care" value="Health &amp; Fitness;Gym;Personal Care;Spa &amp; Massage;Hair"/>
    <add key="Maintenace/Repairs" value="Home Improvement;Home Services;Home;Furnishings;Service &amp; Parts"/>    
    <add key="Subscriptions" value="Movies &amp; DVDs;Music;Newspapers &amp; Magazines;Business Services;Bottled Water;Electronics &amp; Software;Books"/>
    <add key="Car Insurance" value="Auto Insurance;Home Insurance"/>
    <add key="Life Insurance" value="Life Insurance"/>
    <add key="Kids(529k)" value="529k"/>
    <add key="Childcare" value="Childcare;Daycare;Babysitter &amp; Daycare"/>
    <add key="Fun/Vacation" value="Amusement;Airbnb;Sports;Hotel;Vacation;Travel;Air Travel"/>
    <add key="Kids Activities" value="Kids Activities;Kids;Arts;Entertainment"/>    
    <add key="Tuition" value="Education;Books;Tuition"/>
    <add key="Taxes" value="Federal Tax;State Tax;Local Tax;Property Tax"/>
    <add key="Transportation" value="Rental Car &amp; Taxi;Public Transportation;Ride Share"/>
    <add key="Fees" value="ATM Fee;Bank Fee;Service Fee;Late Fee;Finance Charge;Fees &amp; Charges"/>
    <add key="Others" value="Others;Parking;Auto &amp; Transport;Cash &amp; ATM;Zelle;Financial;Misc Expenses;Charity;Uncategorized;Buy;Legal;Laundry"/>
    <add key="Transfer" value="Transfer;Check"/>
    <add key="Paycheck Income" value="Paycheck;Paycheck Income"/>
    <add key="Utilities" value="Utilities;Bills &amp; Utilities"/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

</configuration>