<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>

  </configSections>

  <appSettings>
    <add key="Entertainment" value="Movies &amp; DVDs;Entertainment;Internet;Music;Television;Newspapers &amp; Magazines"/>
    <add key="Restaurants" value="Alcohol &amp; Bars;Coffee Shops;Fast Food;Food &amp; Dining;Restaurants"/>
    <add key="Groceries" value="Groceries"/>
    <add key="Food Services" value=""/>
    <add key="Clothing" value="Clothing"/>
    <add key="Shopping &amp; Sporting Goods" value="Shopping;Sporting Goods;Charity;Baby Supplies"/>
    <add key="Gas &amp; Fuel" value="Gas &amp; Fuel"/>
    <add key="Fun &amp; Getaways" value="Airbnb;Sports;Hotel;Arts;Kids Activities"/>
    <add key="Car Payment" value="Auto Payment"/>
    <add key="Service &amp; Parts" value="Service &amp; Parts"/>
    <add key="Geico" value="Auto Insurance;Home Insurance"/>
    <add key="Room Rent" value=""/>
    <add key="Stock Investments" value="Investments"/>
    <add key="India Investment" value=""/>
    <add key="Mortgage" value="Mortgage &amp; Rent;Property Tax"/>
    <add key="Home Improvement" value="Home Improvement;Home Services;Home;Furnishings;Hobbies;Shipping;Lawn &amp; Garden;Office Supplies;Advertising"/>
    <add key="Pharmacy" value="Doctor;Pharmacy;Eyecare"/>
    <add key="Water" value="Bottled Water"/>
    <add key="Mobile (ATT)" value="Home Phone;Mobile Phone"/>
    <add key="Utilities" value="Utilities;Bills &amp; Utilities"/>
    <add key="Miscellaneous" value="Gifts &amp; Donations;Service &amp; Parts;Misc Expenses;Toys;Printing;Business Services;Charity;Gift;Local Tax"/>
    <add key="ATM Withdrawal" value="Cash &amp; ATM;Financial"/>
    <add key="Fitness &amp; Sports" value="Health &amp; Fitness;Amusement;Gym"/>
    <add key="Electronics &amp; Software" value="Electronics &amp; Software"/>
    <add key="Education" value="Education;Books;Tuition"/>
    <add key="Parking" value="Parking;Auto &amp; Transport"/>
    <add key="Transportation" value="Rental Car &amp; Taxi;Public Transportation"/>
    <add key="Personal Care" value="Personal Care;Spa &amp; Massage;Hair;Dentist"/>
    <add key="Daycare" value="Daycare"/>
    <add key="Travel" value="Air Travel;Travel"/>
    <add key="Fees" value="ATM Fee;Bank Fee;Service Fee;Late Fee;Finance Charge;Fees &amp; Charges"/>
    <add key="Life Insurance" value="Life Insurance"/>   
    <add key="Transfer" value="Transfer;Check;Auto Payment"/>
    <add key="Credit Card Payments" value="Credit Card Payment"/>
    <add key="Rental Income" value="Rental Income"/>
    <add key="Paycheck Income" value=""/>
    <add key="Interest Income" value="Interest Income"/>
    <add key="Other Income" value="Paycheck;Income;Bonus;Federal Tax"/>
    <!-- Financial;Allowance-->
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

</configuration>